body {
    margin: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
h2 {margin-top: 0;}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}
li div {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 0.85rem;
}
li div input {
    height: 2vh;
    border: 1px solid #e5e7eb;
    border-radius: 3px;
}
.wrapper {
    display: flex;
}
.image {
    display: flex;
    background-image: url(/mainImage.avif);
    background-size: contain;
    height: 100vh;
    flex: 1;
    color: white;
    justify-content: center;
    padding-top: 10%;
    letter-spacing: 0.15rem;
}
.image h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Norse Bold';
    max-height: 10vh;
    width: 34vw;
    background-color: rgba(0, 0, 0, 0.4);
}
main {
    display: flex;
    flex: 2;
    letter-spacing: 0.08rem;
}
.description {
    background-color: rgb(230, 230, 230);
    padding: 15vh 20vh 5vh 5vh;
}
.description p{
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 0;
}
.formulary {
    padding: 3vh 40vw 5vh 5vh;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}
.account {
    padding: 3vh 20vh 5vh 5vh;
}
div.account button {
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    height: 5vh;
    width: 8vw;
    border: 0px;
    border-radius: 10%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}
input:focus {
    outline: 1px solid blue;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
.account button:hover {
    background-color: #2e421c;
}